{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_comentarios.png') }}" />  
    <img src="{{ asset('images/mysexymiami1.png') }}" />
    <img src="{{ asset('images/sm.png') }}" />
    <img src="{{ asset('images/bocad_comentarios.png') }}" />
<meta name="google-translate-customization" content="2ee800eb1ec6d34-c21772d3924fdf4c-g36f4124f74b59449-13"></meta>

</div>
<div id="slogan" style="background-color: #FF2AD7;">
    <p>
    <a href="{{ path("anuncio_reglas") }}" alt="Poner un Ad" title="Poner un Ad"><div style="position:absolute; top:14%; left:3%; "><img src="{{ asset('images/ponerunad1.png') }}" /></div></a>
    SOY TU SECRETO ONLINE...
    <a href="http://mibellivenezolana.blogspot.com/" target="_blank" alt="LEE AQUÍ; Blogs, Fantasías y algo más..." title="LEE AQUÍ; Blogs, Fantasías y algo más..."><div style="position:absolute; top:14%; left:88%; "><img src="{{ asset('images/bocas2.png') }}" /></div></a>
    </p>
</div>
{% endblock %}

{% block content %}
<div id="fos_bundle">
<h2>Editar Comentario</h2>

<form action="{{ path('comentario_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Editar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('miperfil') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <form action="{{ path('comentario_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
</div>
{% endblock %}