{% extends "::layout.html.twig" %}

{% block content %}
<h1>Comentarios Recientes</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Comentario</th>
            <th>Perfil</th>
            <th>Autor</th>
            <th>Ip</th>
            <th>Fecha</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('comentario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.comentario }}</td>
            <td>{{ entity.anuncio }}</td>
            <td>{{ entity.autor }}</td>
            <td>{{ entity.ip }}</td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('comentario_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('comentario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}