{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_comentarios.png') }}" />  
    <img src="{{ asset('images/mysexymiami1.png') }}" />
    <img src="{{ asset('images/sm.png') }}" />
    <img src="{{ asset('images/bocad_comentarios.png') }}" />
<meta name="google-translate-customization" content="2ee800eb1ec6d34-c21772d3924fdf4c-g36f4124f74b59449-13"></meta>

</div>
<div id="slogan" style="background-color: #FF2AD7;">
    <p>
    <a href="{{ path("anuncio_reglas") }}" alt="Poner un Ad" title="Poner un Ad"><div style="position:absolute; top:14%; left:3%; "><img src="{{ asset('images/ponerunad1.png') }}" /></div></a>
    SOY TU SECRETO ONLINE...
    <a href="http://mibellivenezolana.blogspot.com/" target="_blank" alt="LEE AQUÍ; Blogs, Fantasías y algo más..." title="LEE AQUÍ; Blogs, Fantasías y algo más..."><div style="position:absolute; top:14%; left:88%; "><img src="{{ asset('images/bocas2.png') }}" /></div></a>
    </p>
</div>
{% endblock %}

{% block content %}

<div id="contenido">
<div id="reglas" style="color: #FF2AD7;">

<p align="center"><span class="titulocomentarios">Comentarios</span></p>

</div>
</div>

<table class="records_list" align="center" cellspacing="15" border="0" width="1200">
    <thead>
        <tr>
            <th>AUTOR</th>
            <th>FECHA</th>
            <th>ANUNCIO</th>
            <th>COMENTARIO</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.autor }}</td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('m-d-y') }}{% endif %}</td>
            <td>{{ entity.anuncio }}</td>
            <td style="text-align: justify">{{ entity.comentario }}</td>
         </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}