{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_11.png') }}" />  
    <img src="{{ asset('images/mysexymiami5.png') }}" />
    <img src="{{ asset('images/sm.png') }}" />     
    <img src="{{ asset('images/bocad_11.png') }}" />

<meta name="google-translate-customization" content="2ee800eb1ec6d34-c21772d3924fdf4c-g36f4124f74b59449-13"></meta>

</div>
<div id="slogan">
    <p>   
    {{ "SOY TU SECRETO ONLINE" | trans }}...
    </p>
</div>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<div id="reglas">
{% set locale = app.request.locale %}
{% if locale == 'es' %}
  
  <p align="center"><span class="titulocomentarios">Escoge Aqui El Idioma De Tu Preferencia: ENGLISH or SPANISH</span>
  <p align="center"><span class="titulocomentarios">Choose Your Language: ENGLISH or SPANISH</span>
<div id="google_translate_element" align="center"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
</p>
 
    <p class="intro cursiva">
        <span class="negrita">THIS IS A WEBSITE CLASSIFIED ADS FOR ADULTS ONLY</span><br/><br/>
<span class="negrita resaltado2">REGLAS, NORMAS Y USO PARA PODER ENTRAR A</span> &nbsp; <span class="resaltado">MYSEXYMIAMI.COM</span>
<br/><br/>
<span class="negrita resaltado2">OBLIGATORIO</span>
<br/><br/>
<span class="negrita">El directorio Online en el Sur de la Florida más completo en entretenimiento para adultos</span>
<br/>
<span class="negrita resaltado2">EXCLUSIVAMENTE PARA ADULTOS</span>
<br/>
<span class="negrita">POR LO TANTO DEBES CUMPLIR CON LAS SIGUIENTES NORMAS PARA VISITAR NUESTRA PÁGINA</span>
<br/><br/> 
<span class="negrita resaltado2">SI ERES MENOR DE 18 AÑOS, SIN EXCEPCION, DEBES EXIT DE ESTE WEBSITE INMEDIATAMENTE,</span> &nbsp; <span class="resaltado">MYSEXYMIAMI.COM</span>
<br/>
<span class="negrita resaltado2">haciendo click en el siguiente link:</span>
</p><br/>

{% elseif locale == 'en' %}
    <p class="intro cursiva">
        <span class="negrita">THIS IS A CLASSIFIED ADS WEBSITE FOR ADULTS ONLY</span><br/><br/>
<span class="negrita resaltado2">RULES, REGULATIONS AND TERMS OF USE TO ENTER TO </span> &nbsp; <span class="resaltado">MYSEXYMIAMI.COM</span>
<br/><br/>
<span class="negrita resaltado2">MANDATORY</span>
<br/><br/>
<span class="negrita">THIS IS THE MOST COMPLETE ONLINE DIRECTORY OF ENTERTAINMENT OF SOUTH FLORIDA, </span>
<br/>
<span class="negrita resaltado2">EXCLUSIVELY FOR ADULTS.</span>
<br/>
<span class="negrita">YOU HAVE TO MEET THE FOLLOWING TO VISIT OUR WEBSITE:</span>
<br/><br/> 
<span class="negrita resaltado2">IF YOU ARE UNDER 18 YEARS OLD OR YOU NOT ARE IN LEGAL AGE IN THE PHYSICAL LOCATION FROM WHERE YOU ARE ACCESSING THIS SITE, without exception, YOU MUST EXIT OF THIS SITE IMMEDIATLY
by clicking the following link: EXIT,</span>
<br/>
</p><br/>

{% endif %}
<table style="margin: auto; text-align: center">
    <tr>
        <td>
            <span class="boton" style="background-color: #FF1A96;"><a href="http://www.google.co.ve">{{ "EXIT" | trans }}</a></span>
            <span class="boton" style="background-color: #FF1A96;"><a href="{{ path("reglas") }}">{{ "CONTINUAR" | trans }}</a></span>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://www.rtalabel.org"><img src="{{ asset('images/rta.gif') }}" /></a>&nbsp;<a href="http://www.stoppedofilia.com"><img src="{{ asset('images/stoppedofilia.gif') }}" /></a></td>
    </tr>
    <tr>
        <td><p sytle align="center"><span id="cdSiteSeal3"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal3&amp;cdSealType=Seal3&amp;sealId=55e4ye7y7mb73c60bd15aca238d48vq0j47y7mb7355e4ye786c0cc7e7b7d5844"></script></span></p>&nbsp;<span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=4jKUlIA7QsLVUdgpetXUfK9zE0W1EeNJxo3GBWHOIzaiddOGz0V4ohCJrwf"></script><br/><a style="font-family: arial; font-size: 9px" href="http://icannwiki.org" target="_blank">icann</a><a href="https://www.alliedwallet.com"><img src="{{ asset('images/alliedlogo.png') }}"/></a></span></td>
    </tr>
</table>
<br />
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}    
    <p>
        <span class="resaltado">MYSEXYMIAMI.COM</span>  es exclusivamente un Directorio de avisos foto-clasificados Online.
        Todo el contenido de los avisos foto-clasificados es de única y exclusiva responsabilidad de los anunciantes y de ninguna manera la empresa conoce, participa o interfiere en forma o manera alguna en las actividades que estos realizan. 
        La empresa no se hace responsable por la veracidad, fidelidad, o legalidad del contenido de los avisos foto-clasificados. <span class="resaltado">MYSEXYMIAMI.COM</span>  es para uso exclusivo de personas mayores de edad.  
        UK Office: 48 High Street-Haslemere-Surrey-GU27 2LA. UK. Todos los derechos reservados 2012.
    </p>
    {% elseif locale == 'en' %}
    <p>
        <span class="resaltado">MYSEXYMIAMI.COM</span> is only a directory of photo-classified ads Online. All content of photo-classified ads is the  exclusive responsibility of advertisers. The company ( MYSEXYMIAMI.COM AND ITS AFFILIATES OR OWNERS) NOT knows, participate or interfere in any manner or form on the activities that they (advertisers) perform. The company ( MYSEXYMIAMI.COM AND ITS AFFILIATES OR OWNERS) is not responsible for the truthfulness, accuracy, or legality of the content of the photo-classified ads. <span class="resaltado">MYSEXYMIAMI.COM</span> is a website EXCLUSIVELY FOR ADULTS. 
        UK Office: 48 High Street-Haslemere-Surrey-GU27 2LA. UK. All rights reserved 2012.
    </p>
    {% endif %}
</div>
{% endblock %}
