{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_11.png') }}" />  
    <img src="{{ asset('images/mysexymiami5.png') }}" />
    <img src="{{ asset('images/sm.png') }}" />     
    <img src="{{ asset('images/bocad_11.png') }}" />
</div>
<div id="slogan">
    <p>   
    SOY TU SECRETO ONLINE...
    </p>
</div>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<div id="reglas">
    <p class="intro cursiva">
        <span class="negrita">THIS IS A CLASSIFIED ADS WEBSITE FOR ADULTS ONLY</span><br/><br/>
<span class="negrita resaltado2">REGLAS, NORMAS Y USO PARA PODER ENTRAR A</span> &nbsp; <span class="resaltado">MYSEXYMIAMI.COM</span>
<br/><br/>
<span class="negrita resaltado2">OBLIGATORIO</span>
<br/><br/>
<span class="negrita">El directorio Online en el Sur de la Florida más completo en entretenimiento para adultos</span>
<br/>
<span class="negrita resaltado2">EXCLUSIVAMENTE PARA ADULTOS</span>
<br/>
<span class="negrita">POR LO TANTO DEBES CUMPLIR CON LAS SIGUIENTES NORMAS PARA VISITAR NUESTRA PÁGINA</span>
<br/><br/> 
<span class="negrita resaltado2">SI ERES MENOR DE 18 AÑOS, sin excepción, debes salir de la página,</span> &nbsp; <span class="resaltado">MYSEXYMIAMI.COM</span>
<br/>
<span class="negrita resaltado2">haciendo click en el siguiente link:</span>
</p><br/>

<table style="margin: auto; text-align: center">
    <tr>
        <td>
            <span class="boton" style="background-color: #FF1A96;"><a href="http://www.google.co.ve">SALIR</a></span>
            <span class="boton" style="background-color: #FF1A96;"><a href="{{ path("reglas") }}">CONTINUAR</a></span>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="http://www.rtalabel.org"><img src="{{ asset('images/rta.gif') }}" /></a>&nbsp;<a href="http://www.stoppedofilia.com"><img src="{{ asset('images/stoppedofilia.gif') }}" /></a></td>
    </tr>
</table>
<br />
</div>
{% endblock %}

{% block footer %}
<div id="footer">      
    <p>
        <span class="resaltado">MYSEXYMIAMI.COM</span>  es exclusivamente un Directorio de avisos foto-clasificados Online.
        Todo el contenido de los avisos foto-clasificados es de única y exclusiva responsabilidad de los anunciantes y de ninguna manera la empresa conoce, participa o interfiere en forma o manera alguna en las actividades que estos realizan. 
        La empresa no se hace responsable por la veracidad, fidelidad, o legalidad del contenido de los avisos foto-clasificados. <span class="resaltado">MYSEXYMIAMI.COM</span>  es para uso exclusivo de personas mayores de edad.  Todos los derechos reservados 2012.
    </p>   
</div>
{% endblock %}
