{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_11.png') }}" />  
    <img src="{{ asset('images/mysexymiami5.png') }}" />
    <img src="{{ asset('images/sm.png') }}" />    
    <img src="{{ asset('images/bocad_11.png') }}" />

<meta name="google-translate-customization" content="2ee800eb1ec6d34-c21772d3924fdf4c-g36f4124f74b59449-13"></meta>

</div>
<div id="slogan">
    <p>   
    {{ "SOY TU SECRETO ONLINE" | trans }}...
    </p>
</div>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
{% set locale = app.request.locale %}
{% if locale == 'es' %}
<div id="reglas" style="color: #FF1A96; font-style: italic; line-height: 1.4em;">
    <p>Antes de ingresar a la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   usted debe leer atentamente los siguientes Términos y Condiciones:</p>

    <p>Al ingresar usted está aceptando los Términos y Condiciones aquí establecidos. Si no está de acuerdo, no debe ingresar ni utilizar dicha página para publicar productos, realizar transacciones y/o navegar en ella.</p>

    <dl>
        <dt>1.-PROHIBICIÓN  ACCESO  DE  MENORES.-</dt>
        <dd>En la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   se ofrecen productos, material y servicios cuyo contenido (texto y fotografía) es exclusivamente para adultos, por tanto, sólo deben ingresar personas mayores de 18 años. 

El ingreso de menores de edad a esta página, es de exclusiva responsabilidad de los padres, representantes o responsables.
Es deber de los padres orientar la conducta de sus hijos menores de edad controlando o evitando el acceso a estas páginas mediante programas de protección como Surf Watch, Net Nanny o Cyber Patrol,  así como educándolos adecuadamente a que respeten la naturaleza de estas páginas.</dd>
<dt>2.-BIENES Y SERVICIOS PROHIBIDOS.-</dt>
<dd>La página de <span class="resaltado">MYSEXYMIAMI.COM</span>   se acoge a la prohibición de la oferta y demanda de artículos, bienes y/o servicios que: Impliquen pornografía infantil, prostitución infantil, explotación sexual infantil o incluyan la mención en singular o plural de "niña", "niño" y/o "adolescente"; y/o que presenten apología a la violencia o al delito; y/o que inciten a la discriminación, al odio o racismo.</dd>
<dt>3.-LIMITACIÓN DE RESPONSABILIDAD POR CONTENIDO.-</dt>
<dd>La página de <span class="resaltado">MYSEXYMIAMI.COM</span>    es exclusivamente un DIRECTORIO DE CLASIFICADOS ON LINE PARA ADULTOS, por ello, la responsabilidad de la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   se limita a informar y publicar los anuncios y espacios pagados por sus clientes. 
Todo contenido de los avisos (texto y fotografía) que se publican en la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   son de la única y exclusiva responsabilidad del anunciante y de ninguna manera la empresa conoce, participa o interfiere en las actividades que realiza el anunciante. 
La empresa no se hace responsable por la exactitud, veracidad, fidelidad o legalidad del contenido de los avisos. 
Es responsabilidad de la parte interesada hacer las averiguaciones correspondientes sobre el origen, características, condición, funcionamiento y demás propiedades inherentes a los bienes y/o servicios ofrecidos por los anunciantes.</dd>
</dl>
    <p>La página de <span class="resaltado">MYSEXYMIAMI.COM</span>   no guarda ningún tipo de relación laboral con las personas naturales o jurídicas que aquí se publicitan. Es de la exclusiva responsabilidad del anunciante de servicios el personal que tenga empleado. En consecuencia, estarán a cargo de este todos los pagos a que hubiere lugar, de conformidad con la legislación laboral que resultare aplicable según el caso, sin que tuviere los creadores, los diseñadores y/o los propietarios de la página de <span class="resaltado">MYSEXYMIAMI.COM</span>  ningún tipo de responsabilidad u obligación frente a dicho personal
 Con el acceso a la página, el usuario declara estar conforme con lo mencionado y exonera a la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   de cualquier responsabilidad legal que pudiera derivarse de las transacciones originadas en este sitio Web.
 En virtud de lo antes expresado, declaro que:</p>

    <ol>
        <li>Tengo más de 18 años y tengo capacidad legal para adquirir y/o contratar los bienes y/o servicios ofrecidos en esta página.</li>
        <li>No permitiré acceder a ninguna persona menor de 18 años a la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   ni a los productos que en ella estén publicados.</li>
        <li>El usuario de la página de <span class="resaltado">MYSEXYMIAMI.COM</span>    entiende y acepta la responsabilidad por sus propias acciones y conductas, así como las de sus hijos menores transgresores por su no diligencia y cuido.</li>
        <li>Ingreso a la página de <span class="resaltado">MYSEXYMIAMI.COM</span>    por mi decisión voluntaria y personal, porque quiero ver, ofertar, comprar o vender los productos y/o bienes y servicios que en ella se publican y con mi declaración de voluntad, no considero ofensivas o lesivas las imágenes o mensajes de connotación erótica, sexual o pornográfica que pudiera encontrar en la página de <span class="resaltado">MYSEXYMIAMI.COM</span></li>
        <li>Soy exclusivamente responsable por la legalidad de los productos, bienes y/o servicios que adquiero, y libero a la página de <span class="resaltado">MYSEXYMIAMI.COM</span>  de toda responsabilidad relacionada con la exactitud, veracidad, fidelidad o legalidad del contenido de los avisos.</li>
        <li>Entiendo y acepto que la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   se limita a prestar un servicio de publicidad.</li>
        <li>No considero ofensivas o lesivas las imágenes o mensajes que pudiera encontrar en la página de <span class="resaltado">MYSEXYMIAMI.COM</span></li>
        <li>La empresa se reserva el derecho de permitir o no la publicación para ofertar o demandar bienes y/o servicios en esta página web.</li>
        <li>El diseño general de estas páginas son propiedad exclusiva y absoluta de los creadores de la página de <span class="resaltado">MYSEXYMIAMI.COM</span>    y en ningún momento y bajo ningún concepto podrán ser utilizadas sin previa autorización por escrito sus creadores.</li>
        <li>Los creadores y los propietarios de la página de <span class="resaltado">MYSEXYMIAMI.COM</span>   , así como nuestro proveedor de servicio, aportan las normas aquí señaladas, liberándose así como consecuencia de acción u omisión de los usuarios, de toda obligación y/o responsabilidad legal.</li>
    </ol>
</div>
{% elseif locale == 'en' %}
<div id="reglas" style="color: #FF1A96; font-style: italic; line-height: 1.4em;">
    <p>Before joining to <span class="resaltado">MYSEXYMIAMI.COM</span> you must read carefully the following Terms and Conditions:</p>

    <p>Visiting <span class="resaltado">MYSEXYMIAMI.COM</span>  you agree the Terms and Conditions established here. If you do NOT agree, do NOT enter or use this page to post products, transactions and / or navigate here.</p>

    <dl>
        <dt>1.-PROHIBITED ACCESS TO MINORS.-</dt>
        <dd>In the website <span class="resaltado">MYSEXYMIAMI.COM</span> offered products and services with content (text and photographs) is exclusively for adults. You have to be at least 18 years older to visit this website. The access of minors to this page, are only and  exclusively responsibility of parents, representatives or guardians. It is the obligation of parents to guide the behavior of their minor children controlling or preventing access to this site through safety as Surf Watch, Net Nanny or Cyber Patrol and properly educating them to respect the nature of these pages.</dd>
<dt>2.-PROHIBITED SERVICES.-</dt>
<dd><span class="resaltado">MYSEXYMIAMI.COM</span> respects the prohibition of the supply and demand of items or services: Involve child pornography, child prostitution, child sexual exploitation or include the words in the singular or plural of "child", " child "and / or" adolescent "and / or submit apology to violence or crime, and / or incite discrimination, hatred or racism.</dd>
<dt>3.-LIMITATION OF LIABILITY FOR CONTENT.-</dt>
<dd><span class="resaltado">MYSEXYMIAMI.COM</span> is exclusively an website  of ADD CLASSIFIED EXCLUSIVELY FOR ADULT, therefore the responsibility of the website <span class="resaltado">MYSEXYMIAMI.COM</span> only limited to post adds paid by their clients "customers".  Strictly all content of the messages (text and photographs) published in <span class="resaltado">MYSEXYMIAMI.COM</span> are only responsibility of the poster, client or customer. <span class="resaltado">MYSEXYMIAMI.COM</span> NOT  knows, participate or interfere in the activities of the advertiser. The company is NOT responsible for the accuracy, truthfulness, accuracy or legality of the content of the ads. It is the responsibility of the  poster, client or customer to make the necessary inquiries about the origin, characteristics, condition, operation and other inherent properties of the services offered by advertisers.</dd>
</dl>
    <p><span class="resaltado">MYSEXYMIAMI.COM</span> doesn´t have any relationship natural or legal with the persons that are advertised here. It is the exclusive responsibility of the poster, client or customer of service offered. Consequently, the poster, client or customer will be responsible of all payments of their adds. Neither <span class="resaltado">MYSEXYMIAMI.COM</span>, or creators or their designers, or their owners are responsible for any payments, liability or obligation that have to pay any of their advertisers.  When you put an add in this website you is accepting and the user agrees with the above and exonerates to <span class="resaltado">MYSEXYMIAMI.COM</span> from any liability that may arise from transactions originated at this website. Consequently I declare that:</p>

    <ol>
        <li>I have over 18 years and I have the legal capacity to acquire, purchase and hiring the services offered on this page.</li>
        <li>Not allow access to any person under 18 years to website <span class="resaltado">MYSEXYMIAMI.COM</span>  or any products here published.</li>
        <li>The user of <span class="resaltado">MYSEXYMIAMI.COM</span> understand and accept responsibility for your own actions and behaviors and those of their children.</li>
        <li>Join of <span class="resaltado">MYSEXYMIAMI.COM</span>  for my personal and voluntary decision, because I want to visit, hiring, offering, provide, buy or sell products or services here published. With my voluntary declaration not consider offensive or damaging the images or messages that I found in <span class="resaltado">MYSEXYMIAMI.COM</span></li>
        <li>I am exclusively responsible for the legality of products, and / or services that I acquire, buy in this website. And release to <span class="resaltado">MYSEXYMIAMI.COM</span> from all liability related to the accuracy, truthfulness, or legality of the content of the ads.</li>
        <li>I understand and agree that <span class="resaltado">MYSEXYMIAMI.COM</span>  only provides an advertising service.</li>
        <li>I do not consider offensive or harmful images and messages that may be found on the website <span class="resaltado">MYSEXYMIAMI.COM</span></li>
        <li>The company reserves the right to allow or not to publish u offer any services at this website.</li>
        <li>The design of these pages are the exclusive properties and absolute creators <span class="resaltado">MYSEXYMIAMI.COM</span>  and it can never be used without prior written authorization of their owners.</li>
        <li>The creators and owners <span class="resaltado">MYSEXYMIAMI.COM</span>  and our service provider, provide the rules described here. Liberating from any obligation and / or liability legal.</li>
    </ol>
</div>
{% endif %}
<table align="center">
    <tr>
        <td><span class="boton" style="background-color: #FF1A96;"><a href="{{ path("home") }}">{{ "ENTRAR" | trans }}</a></span></td>
    </tr>
</table>
<br />
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
{% endblock %}

{% block footer %}
<div id="footer">      
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}    
    <p>
        <span class="resaltado">MYSEXYMIAMI.COM</span>  es exclusivamente un Directorio de avisos foto-clasificados Online.
        Todo el contenido de los avisos foto-clasificados es de única y exclusiva responsabilidad de los anunciantes y de ninguna manera la empresa conoce, participa o interfiere en forma o manera alguna en las actividades que estos realizan. 
        La empresa no se hace responsable por la veracidad, fidelidad, o legalidad del contenido de los avisos foto-clasificados. <span class="resaltado">MYSEXYMIAMI.COM</span>  es para uso exclusivo de personas mayores de edad.  
        UK Office: 48 High Street-Haslemere-Surrey-GU27 2LA. UK. Todos los derechos reservados 2012.
    </p>
    {% elseif locale == 'en' %}
    <p>
        <span class="resaltado">MYSEXYMIAMI.COM</span> is only a directory of photo-classified ads Online. All content of photo-classified ads is the  exclusive responsibility of advertisers. The company ( MYSEXYMIAMI.COM AND ITS AFFILIATES OR OWNERS) NOT knows, participate or interfere in any manner or form on the activities that they (advertisers) perform. The company ( MYSEXYMIAMI.COM AND ITS AFFILIATES OR OWNERS) is not responsible for the truthfulness, accuracy, or legality of the content of the photo-classified ads. <span class="resaltado">MYSEXYMIAMI.COM</span> is a website EXCLUSIVELY FOR ADULTS. 
        UK Office: 48 High Street-Haslemere-Surrey-GU27 2LA. UK. All rights reserved 2012.
    </p>
    {% endif %}  
</div>
{% endblock %}

