{% extends "::base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('css/layout.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div id="header">
    <img src="{{ asset('images/bocai_registro.png') }}" />  
    <img src="{{ asset('images/mysexymiami3.png') }}" />
    <img src="{{ asset('images/bocad_registro.png') }}" />
</div>
<div id="slogan" style="background-color: #9100B2;">
    <p>
    <a href="{{ path("site_anuncio") }}"><div style="position:absolute; top:16%; left:3%; ">PONER UN AD</div></a>    
    SOY TU SECRETO ONLINE...
    <a href="http://mibellivenezolana.blogspot.com/" target="_blank"><div style="position:absolute; top:14%; left:88%; "><img src="{{ asset('images/bocas2.png') }}" height="80px" width="110px" /></div></a>
    </p>
</div>
{% block menu %}
<div id="enlaces">
            <li><a href="#">MIAMI</a></li>
            <li><a href="#">FT. LAUDERDALE</a></li>
            <li><a href="#">WEST PALM BEACH</a></li>
        </ul>
</div>
<div id="menu">
        <ul>
            <li><a href="{{ path("SiteBundle_homepage") }}">DAMAS</a></li>
            <li><a href="#">SPA / BODY RUBS</a></li>
            <li><a href="#">TRANSEXUALES</a></li>
            <li><a href="#">DOMINACIÓN Y FETICHISMO</a></li>
            <li><a href="#">CABALLEROS</a></li>
        </ul>
</div>
<div id="menu2">
        <ul>
            <li><a href="{{ path('usuario_registro') }}">REGISTRARSE</a></li>
            <li><a href="#">INGRESAR</a></li>
            <li><a href="{{ path("site_comentarios") }}">COMENTARIOS</a></li>
            <li><a href="{{ path("site_contactenos") }}">CONTÁCTENOS</a></li>
        </ul>
</div>
{% endblock%}

<div id="contenido">
{% block content %}
{% endblock %}
</div>

<div id="footer">
    <p>
        <span class="resaltado">MYSEXYMIAMI.COM</span>  es exclusivamente un Directorio de avisos foto-clasificados Online.
        Todo el contenido de los avisos foto-clasificados es de única y exclusiva responsabilidad de los anunciantes y de ninguna manera la empresa conoce, participa o interfiere en forma o manera alguna en las actividades que estos realizan. 
        La empresa no se hace responsable por la veracidad, fidelidad, o legalidad del contenido de los avisos foto-clasificados. <span class="resaltado">MYSEXYMIAMI.COM</span>  es para uso exclusivo de personas mayores de edad.  Todos los derechos reservados 2012.
    </p>   
</div>

{% endblock %}
