{% extends "::base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('css/layout.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/forms.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_11.png') }}" />  
    <img src="{{ asset('images/mysexymiami5.png') }}" />
    <img src="{{ asset('images/bocad_11.png') }}" />
</div>
<div id="slogan">
    <p>
    <a href="{{ path("anuncio_reglas") }}"><div style="position:absolute; top:13%; left:3%; "><img src="{{ asset('images/ponerunad1.png') }}" height="80px" width="110px" /></div></a>
    SOY TU SECRETO ONLINE...
    <a href="http://mibellivenezolana.blogspot.com/" target="_blank"><div style="position:absolute; top:14%; left:88%; "><img src="{{ asset('images/bocas2.png') }}" height="80px" width="110px" /></div></a>
    </p>
</div>
{% endblock %}
{% block menu %}
<div id="enlaces">
            <li><a href="#">MIAMI</a></li>
            <li><a href="#">FT. LAUDERDALE</a></li>
            <li><a href="#">WEST PALM BEACH</a></li>
        </ul>
</div>
<div id="menu">
        <ul>
            <li><a href="{{ path("home") }}">DAMAS</a></li>
            <li><a href="#">SPA / BODY RUBS</a></li>
            <li><a href="#">TRANSEXUALES</a></li>
            <li><a href="#">DOMINACIÓN Y FETICHISMO</a></li>
            <li><a href="#">CABALLEROS</a></li>
        </ul>
</div>
<div id="menu2">
        <ul>
            <li><a href="{{ path("fos_user_registration_register") }}">REGISTRARSE</a></li>
            {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path("fos_user_security_logout") }}">SALIR</a></li>
            {% else %}
            <li><a href="{{ path("fos_user_security_login") }}">INGRESAR</a></li>
            {% endif %}
            <li><a href="{{ path("comentario") }}">COMENTARIOS</a></li>
            <li><a href="">CONTÁCTENOS</a></li>
        </ul>
</div>
{% endblock%}

<div id="contenido">
{% block content %}
{% endblock %}
</div>

{% block footer %}
<div id="footer">
    <div id="menupie">
        <a class="resaltado" href="{{ path("terminos") }}">&nbsp;TÉRMINOS DE USO&nbsp;</a>&nbsp;&nbsp;
        <a class="resaltado" href="{{ path("politicas") }}">&nbsp;POLÍTICAS DE PRIVACIDAD&nbsp;</a>&nbsp;&nbsp;
        <a class="resaltado" href="{{ path("fos_user_registration_register") }}">&nbsp;REGISTRARSE&nbsp;</a>&nbsp;&nbsp;
        {% if is_granted('ROLE_USER') %}
        <a class="resaltado" href="{{ path("fos_user_security_logout") }}">&nbsp;SALIR&nbsp;</a>&nbsp;&nbsp;
        {% else %}
        <a class="resaltado" href="{{ path("fos_user_security_login") }}">&nbsp;INGRESAR&nbsp;</a>&nbsp;&nbsp;
        {% endif %}
        <a class="resaltado" href="">&nbsp;COMENTARIOS&nbsp;</a>&nbsp;&nbsp;
        <a class="resaltado" href="">&nbsp;CONTÁCTENOS&nbsp;</a>&nbsp;&nbsp;
    </div>
        
    <p>
        <span class="resaltado">MYSEXYMIAMI.COM</span>  es exclusivamente un Directorio de avisos foto-clasificados Online.
        Todo el contenido de los avisos foto-clasificados es de única y exclusiva responsabilidad de los anunciantes y de ninguna manera la empresa conoce, participa o interfiere en forma o manera alguna en las actividades que estos realizan. 
        La empresa no se hace responsable por la veracidad, fidelidad, o legalidad del contenido de los avisos foto-clasificados. <span class="resaltado">MYSEXYMIAMI.COM</span>  es para uso exclusivo de personas mayores de edad.  Todos los derechos reservados 2012.
    </p>   
</div>
{% endblock %}

{% endblock %}
