{% extends "::layout.html.twig" %}

{% block content %}
<div id="reglas">
    <p>Bienvenid@ <span class="resaltado2">&nbsp;{{ app.user.username }}&nbsp;</span></p>
    <h3>Mis Anuncios</h3>
    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Condado</th>
                <th>Ciudad</th>
                <th>Sección</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anuncio in anuncios %}
            <tr>
                <td>{{ anuncio.nombre }}</td>
                <td>{{ anuncio.condado }}</td>
                <td>{{ anuncio.ciudad }}</td>
                <td>{{ anuncio.seccion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('anuncio_show', { 'id': anuncio.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('anuncio_edit', { 'id': anuncio.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <h3>Mis Comentarios</h3>
    <table class="records_list">
        <thead>
            <tr>
                <th>Anuncio</th>
                <th>Fecha</th>
                <th>Comentario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.anuncio }}</td>
                <td>{{ comentario.fecha|date('m-d-y') }}</td>
                <td>{{ comentario.comentario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comentario_show', { 'id': comentario.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('comentario_edit', { 'id': comentario.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
</div>
{% endblock %}