{% extends "::layout.html.twig" %}

{% block content %}
<table id="detalle-anuncio" align="center" class="resaltado">
    <caption>DAMAS | {{ anuncio.condado }}-{{ anuncio.ciudad }}</caption>
    <tr>
    {% set first = true %}
    {% for imagen in anuncio.imagenes %}
    {% if(first == true) %}
            {% set first = false %}
            <td><img src="{{ asset("uploads/fotos/" ~ imagen.path) }}" width="400" height="534"/></td>           
    {% endif %}
            <td><p><img src="{{ asset("uploads/fotos/" ~ imagen.path) }}" width="135" height="180"/></p></td>
    {% endfor %}
            <td>
                <p>Nombre: {{ anuncio.nombre }}</p>
                <p>Edad: {{ anuncio.edad }}</p>
                <p>Email: {{ anuncio.email }}</p>
                <p>Descripción: {{ anuncio.descripcion }}</p>
            </td>
    </tr>
</table>
{% endblock %}
