{% extends "::layout.html.twig" %}

{% block content %}
<div id="fos_bundle">
<p align="center"><span class="titulocomentarios">Editando Tu Anuncio</span></p>

<form action="{{ path('anuncio_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.nombre) }}
    {{ form_row(edit_form.edad) }}
    {{ form_row(edit_form.descripcion) }}
    {{ form_row(edit_form.seccion) }}
    {{ form_row(edit_form.email) }}
    {{ form_row(edit_form.telefono) }}
    {{ form_row(form.condado) }}
    {{ form_row(form.ciudad) }}
    {{ form_row(form.pago) }}
     <h3>Imagenes</h3>
    <ul class="imagenes">
        {% for img in edit_form.imagenes %}
            <li>{{ form_row(img.imagen) }}</li>
        {% endfor %}
    </ul>
   
    <li>
        <form action="{{ path('anuncio_edit', { 'id': entity.id }) }}" method="post">
            {{ form_rest(edit_form) }}
            <button type="submit">Editar</button>
    </li>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('miperfil') }}">
            Volver al Perfil
        </a>
    </li>
  
     <li>
        <form action="{{ path('anuncio_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
</div>
{% endblock %}