{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_ponerad.png') }}" />  
    <img src="{{ asset('images/mysexymiami3.png') }}" />
    <img src="{{ asset('images/sm.png') }}" />
    <img src="{{ asset('images/bocad_ponerad.png') }}" />

</div>
<div id="slogan" style="background-color:#9100B2;">
    <p>
    <a href="{{ path("anuncio_reglas") }}" alt="Poner un Ad" title="Poner un Ad"><div style="position:absolute; top:14%; left:3%; "><img src="{{ asset('images/ponerunad1.png') }}" /></div></a>
    SOY TU SECRETO ONLINE...
    <a href="http://mibellivenezolana.blogspot.com/" target="_blank" alt="LEE AQUÍ; Blogs, Fantasías y algo más..." title="LEE AQUÍ; Blogs, Fantasías y algo más..."><div style="position:absolute; top:14%; left:88%; "><img src="{{ asset('images/bocas2.png') }}" /></div></a>
    </p>
</div>
{% endblock %}

{% block content %}
<div id="fos_bundle">
<h2>Nuevo Anuncio</h2>

<form action="{{ path('anuncio_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.edad) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.seccion) }}
    {{ form_row(form.email) }}
    {{ form_row(form.publicar_email) }}
    {{ form_row(form.telefono) }}
    {{ form_row(form.condado) }}
    {{ form_row(form.ciudad) }}
    {{ form_row(form.pago) }}
    <h3>Imágenes</h3>
    <ul class="imagenes">
        {% for img in form.imagenes %}
            <li>{{ form_row(img.imagen) }} {{ form_row(img.portada) }}</li>
        {% endfor %}
    </ul>

    {{ form_rest(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>
 
<form name="form" method="post" action="https://sale.alliedwallet.com/quickpay.aspx">

<input name="MerchantID" type="hidden" value="2cd4bf35-1325-4d66-b448-17b1e13c5a7b" />

<input name="SiteID" type="hidden" value="b8e5bcda-0036-4196-a3e2-14a1b87ff11e" />

<input name="AmountTotal" type="hidden" value="50.00" />

<input name="CurrencyID" type="hidden" value="USD" />

<input name="AmountShipping" type="hidden" value="0" />

<input name="ShippingRequired" type="hidden" value="1" />

<input name="ItemName[0]" type="hidden" value="2 Week" />

<input name="ItemQuantity[0]" type="hidden" value="1" />

<input name="ItemAmount[0]" type="hidden" value="50.00" />

<input name="ItemDesc[0]" type="hidden" value="2 Week Package" />

<input name="NoMembership" type="hidden" value="1" />

<input name="ReturnURL" type="hidden" value="http://www.mysexymiami.com/success.html" />

<input name="confirmURL" type="hidden" value="http://www.mysexymiami.com/post.php" />

<input name="DeclineReturnURL" type="hidden" value="http://www.mysexymiami.com/decline.html" />

<input name="MerchantReference" type="hidden" value="done" />

<input type="submit" value=" Pagar Tu Ad por 2 Semanas">

</form>

<form name="form" method="post" action="https://sale.alliedwallet.com/quickpay.aspx">

<input name="MerchantID" type="hidden" value="2cd4bf35-1325-4d66-b448-17b1e13c5a7b" />

<input name="SiteID" type="hidden" value="b8e5bcda-0036-4196-a3e2-14a1b87ff11e" />

<input name="AmountTotal" type="hidden" value="100.00" />

<input name="CurrencyID" type="hidden" value="USD" />

<input name="AmountShipping" type="hidden" value="0" />

<input name="ShippingRequired" type="hidden" value="1" />

<input name="ItemName[0]" type="hidden" value="4 Week" />

<input name="ItemQuantity[0]" type="hidden" value="1" />

<input name="ItemAmount[0]" type="hidden" value="100.00" />

<input name="ItemDesc[0]" type="hidden" value="4 Week Package" />

<input name="NoMembership" type="hidden" value="1" />

<input name="ReturnURL" type="hidden" value="http://www.mysexymiami.com/success.html" />

<input name="confirmURL" type="hidden" value="http://www.mysexymiami.com/post.php" />

<input name="DeclineReturnURL" type="hidden" value="http://www.mysexymiami.com/decline.html" />

<input name="MerchantReference" type="hidden" value="done" />

<input type="submit" value=" Pagar Tu Ad por 4 Semanas">

</form>

</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery-1.8.2.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        var $tblChkBox = $("ul.imagenes input:checkbox");

        $tblChkBox.click(function () {
            var selectedId = this.id;

            $tblChkBox.each(function () {
                if(this.id != selectedId) this.checked = false;
            });
        });
        
	$('textarea[maxlength]').keyup(function(){
		var max = parseInt($(this).attr('maxlength'));
		if($(this).val().length > max){
			$(this).val($(this).val().substr(0, $(this).attr('maxlength')));
		}
	});
    });
</script>
{% endblock %}
