{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_registro.png') }}" />  
    <img src="{{ asset('images/mysexymiami3.png') }}" />
    <img src="{{ asset('images/sm.png') }}" />
    <img src="{{ asset('images/bocad_registro.png') }}" />
</div>
<div id="slogan" style="background-color:#9100B2;">
    <p>
    <a href="{{ path("anuncio_reglas") }}" alt="Poner un Ad" title="Poner un Ad"><div style="position:absolute; top:14%; left:3%; "><img src="{{ asset('images/ponerunad1.png') }}" /></div></a>
    SOY TU SECRETO ONLINE...
    <a href="http://mibellivenezolana.blogspot.com/" target="_blank" alt="LEE AQUÍ; Blogs, Fantasías y algo más..." title="LEE AQUÍ; Blogs, Fantasías y algo más..."><div style="position:absolute; top:14%; left:88%; "><img src="{{ asset('images/bocas2.png') }}" /></div></a>
    </p>
</div>
{% endblock %}

{% block content %}
<div id="fos_bundle">
<h2>Nuevo Anuncio</h2>

<form action="{{ path('anuncio_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.edad) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.seccion) }}
    {{ form_row(form.email) }}
    {{ form_row(form.publicar_email) }}
    {{ form_row(form.telefono) }}
    {{ form_row(form.condado) }}
    {{ form_row(form.ciudad) }}
    {{ form_row(form.pago) }}
    <h3>Imágenes</h3>
    <ul class="imagenes">
        {% for img in form.imagenes %}
            <li>{{ form_row(img.imagen) }} {{ form_row(img.portada) }}</li>
        {% endfor %}
    </ul>

    {{ form_rest(form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery-1.8.2.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        var $tblChkBox = $("ul.imagenes input:checkbox");

        $tblChkBox.click(function () {
            var selectedId = this.id;

            $tblChkBox.each(function () {
                if(this.id != selectedId) this.checked = false;
            });
        });
        
	$('textarea[maxlength]').keyup(function(){
		var max = parseInt($(this).attr('maxlength'));
		if($(this).val().length > max){
			$(this).val($(this).val().substr(0, $(this).attr('maxlength')));
		}
	});
    });
</script>
{% endblock %}
