{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_ponerad.png') }}" />  
    <img src="{{ asset('images/mysexymiami3.png') }}" />
    <img src="{{ asset('images/sm.png') }}" /> 
    <img src="{{ asset('images/bocad_ponerad.png') }}" />
<meta name="google-translate-customization" content="2ee800eb1ec6d34-c21772d3924fdf4c-g36f4124f74b59449-13"></meta>

</div>
<div id="slogan" style="background-color: #9100B2;">
    <p>
    <a href="{{ path("anuncio_reglas") }}" alt="Poner un Ad" title="Poner un Ad"><div style="position:absolute; top:14%; left:3%; "><img src="{{ asset('images/ponerunad1.png') }}" /></div></a>
    SOY TU SECRETO ONLINE...
    <a href="http://mibellivenezolana.blogspot.com/" target="_blank" alt="LEE AQUÍ; Blogs, Fantasías y algo más..." title="LEE AQUÍ; Blogs, Fantasías y algo más..."><div style="position:absolute; top:14%; left:88%; "><img src="{{ asset('images/bocas2.png') }}" /></div></a>
    </p>
</div>
{% endblock %}

{% block content %}

    <div id="reglas" style="color:#9100B2; font-style: italic; line-height: 1.4em;">
   
        <p>Para poder poner un anuncio en esta sección, debes registrarte primero con un e-mail y una contraseña, y así poder entrar a tu perfil cada vez que lo desees y manejar tu anuncio.</p>
    
        <p>También al estar registrado  y ser parte de nuestro equipo tendrás acceso gratuito a una sección de comentarios, que te puede ayudar mucho para futuras experiencias. (Luego de registrarte y poner tu anuncio tendrás más información al respecto).</p>
        
        <p><span class="negrita subrayado" style="font-size: 14px">REGLAS Y NORMAS PARA REGISTRARTE Y PONER UN ANUNCIO EN ESTA SECCIÓN:</span></p>


        <ul>
            <li>Debes tener más de 18 años de edad.</li>
            <br />
            <li>Luego de tu registro y de poner tu anuncio, tendrás un plazo de 15 días para que, por e-mail nos envíes una copia de una identificación legal (Ejemplo: pasaporte, licencia de conducir, o algún otro ID que nos garantice que eres mayor de edad; esto es indispensable y muy importante para que te cuides tus espaldas y así dejes saber a las personas que leen tu anuncio y que te contacten, que eres mayor de edad, y absolutamente responsable de tus actos y comportamientos, y que siempre como adulto tomarás tus propias decisiones).</li>
            <br />
        </ul>
        
        <p>Usted está de acuerdo con el siguiente texto, y promete cumplir con las siguientes reglas al poner un anuncio en esta categoría. De lo contrario quedara bajo su única y exclusiva responsabilidad cualquier alteración que vaya en contra de nuestras reglas y normas de uso. Además excluye a la página de MYSEXYMIAMI, de cualquier responsabilidad inherente a su anuncio:</p>

        <ul>
            <li>
                No pondré imágenes y/o fotografías obscenas o lascivas que muestren directa o indirectamente partes genitales, o que simulen algún tipo de acto o comportamiento sexual, así como tampoco imágenes desnudas.
            </li>
            <br />
            <li>
                No pondré ningún tipo de solicitación directa o indirectamente, para ningún tipo  de servicio ilegal. Incluyendo el intercambio de dinero por favores sexuales o alguna otra valorable consideración en este sentido.
            </li>
            <br />
            <li>
                No pondré en este website ningún tipo de material (fotos, imágenes o información) que explote a menores de edad en ningún sentido, ni de ninguna manera.
            </li>
            <br />
            <li>
                No pondré en este website  ningún tipo de material (fotos, imágenes, o información) que explote, ayude o tenga que ver  de alguna manera directa o indirectamente con el tráfico humano.
            </li>
            <br />
            <li>
                Tengo  al menos 18 años o más, y no soy menor de edad en mi estado de residencia.
            </li>
            <br />
            <li>
                Soy absolutamente y 100 % responsable por el contenido de mi anuncio, y considero ser una persona con opinión y decisión propia, segura de mis actos y mis responsabilidades al momento de colocar un anuncio en este website.
            </li>
            <br />
            <li>
                Cualquier anuncio  que explota a un menor de edad cualquier modo será sujeto a la persecución y el  procesamiento criminal y será reportado a los organismos competentes para que recaiga sobre él, todo el peso de la ley <a href="http://www.cyberetipline.com" style="color: #9100B2;">www.cyberetipline.com</a>.
            </li>
            <br />
            <li>
                NOTA: Los anuncios que violen estas reglas y nuestros Términos de Uso están sujetos a ser removidos del website sin ningún tipo de reembolso.
            </li>
            <br />
        </ul>
        
        <p align="left"><span class="boton" style="background-color: #9100B2"><a href="{{ path("anuncio_new") }}">Continuar</a></span></p>

        <br /><br />
    </div>            
        
{% endblock %}
