{% extends "::layout.html.twig" %}

{% block content %}
<h2>Anuncio</h2>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Edad</th>
            <td>{{ entity.edad }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
    </tbody>
</table>

<h2>Imagenes</h2>
<ul class="record_actions">
    {% for imagen in entity.imagenes %}
        <li>
            <img src="{{ asset("uploads/fotos/" ~ imagen.path) }}" width="135" height="180"/>
        </li>
    {% endfor %}
</ul>

<ul class="record_actions">
    <li>
        <a href="{{ path('miperfil') }}">
            Volver al Perfil
        </a>
    </li>
    <li>
        <a href="{{ path('anuncio_edit', { 'id': entity.id }) }}">
            Editar Anuncio
        </a>
    </li>
    <li>
        <form action="{{ path('anuncio_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}